html, body, #root, .App {
  height: 100%;
  background-color: #0a97f5;
}

.navBar {
  background-color: #000000;
  /* background-color: #ffffff; */
}

.navText {
  color: #ffffff !important;
}

#imageBlur {
  filter: blur(4px);
}

.gradient {
  margin: auto;
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  width: 50%
}
