html, body, #root, .App {
  height: 100%;
  background-color: #0a97f5;
}

.navBar {
  background-color: #000000;
  /* background-color: #ffffff; */
}

.navBarToggle {
  background-color: #0a97f5 !important;
}

.navText {
  color: #ffffff !important;
}

.slideShow {
  margin: auto;
  width: 50%;
  height: auto;
}

#imageBlur {
  filter: blur(4px);
}

.appContainer {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;

  min-height: 100vh;
}

.homeCarousel {
  padding-top: 1%;
  padding-bottom: 3%;
}

.homeFeatures {
  padding-top: 1%;
  padding-bottom: 3%;
  background-color: #000000;
}

.homeDescription {
  padding-top: 1%;
  padding-bottom: 3%;
  background-color: #ffffff;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer {
    background-color: #000000;
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.gradient {
  margin: auto;
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
  );
  width: 100%
}
