html, body, #root, .App {
  height: 100%;
  background-color: #0a97f5;
}

.navBar {
  background-color: #000000;
  /* background-color: #ffffff; */
}

.navBarToggle {
  background-color: #0a97f5 !important;
}

.navText {
  color: #ffffff !important;
}

.slideShow {
  margin: auto;
  width: 50%;
  height: auto;
}

#imageBlur {
  filter: blur(4px);
}

.appContainer {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;

  min-height: 100vh;
}

.homeCarousel {
  padding-top: 1%;
  padding-bottom: 3%;
}

.homeFeatures {
  padding-top: 1%;
  padding-bottom: 3%;
  background-color: #000000;
}

.gradient {
  margin: auto;
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
  );
  width: 100%
}
